@font-face {
  font-family: "Caviar Dreams";
  src: url("../assets/font/CaviarDreams.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams Bold";
  src: url("../assets/font/CaviarDreams_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Beckman";
  src: url("../assets/font/Beckman.otf");
}

@font-face {
  font-family: "Galada";
  src: url("../assets/font/Galada.ttf");
}


html {
  scroll-behavior: smooth;
}

.title {
  font-size: 40px;
  font-family: "Beckman";
}

section {
  margin-bottom: 60px;
}

/*  CSS Navbar */
.navbar-brand {
  font-size: 24px;
  font-family: "Caviar Dreams Bold";
  color: rgb(37, 0, 122);
}

.navbar-brand span {
  font-size: 24px;
  font-family: "Caviar Dreams";
}


/* CSS List Produk */
.list-produk {
  margin-top: 100px;
}

.list-produk h2 {
  font-family: "Caviar Dreams Bold";
}
.kotak-tabel {
  font-family: "Caviar Dreams";
  background-color: rgb(243, 243, 243);
  padding: 35px;
}
table {
  font-size: 13.5px;
}

.table th {
  padding-bottom: 10px;
  height: 40px;
}

/* CSS Form Tambah Data */
.form-tambah {
  margin-top: 100px;
  font-family: "Caviar Dreams";
}
.form-tambah h2 {
  font-family: "Caviar Dreams Bold";
}
.kotak {
  background-color: rgb(243, 243, 243);
  width: fit-content;
  margin: auto;
  padding: 28px;
}
.kotak label {
  font-family: "Caviar Dreams Bold";
  font-size: 13px;
  margin-bottom: 3px;
}
.kotak input {
  font-size: 14px;
}
.kotak textarea {
  font-size: 14px;
}

/* CSS Footer */
footer {
  width: 100%;
  height: 50px;
  background-color: blueviolet;
  color: white;
  padding-top: 12px;
  font-family: "Caviar Dreams";
}
