@font-face {
  font-family: "Caviar Dreams";
  src: url("../assets/font/CaviarDreams.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams Bold";
  src: url("../assets/font/CaviarDreams_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Beckman";
  src: url("../assets/font/Beckman.otf");
}

@font-face {
  font-family: "Galada";
  src: url("../assets/font/Galada.ttf");
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(209, 204, 250);
}

.title {
  font-size: 40px;
  font-family: "Beckman";
}

section {
  margin-bottom: 60px;
}

/*  CSS Navbar */
.navbar-brand {
  font-size: 24px;
  font-family: "Caviar Dreams Bold";
  color: rgb(37, 0, 122);
}
.navbar-brand span {
  font-size: 24px;
  font-family: "Caviar Dreams";
}

.nav-link {
  font-size: 18px;
  color: rgb(37, 0, 122);
  font-family: "Caviar Dreams Bold";
}

/* CSS Card */
.card-title {
  font-size: 17px;
}

.icon a {
  text-align: center;
  padding: 10px;
  color: black;
}

/* CSS List Produk */
.list-produk {
  margin-top: 110px;
}

.list-produk h2 {
  font-family: "Caviar Dreams Bold";
}
.kotak-tabel {
  font-family: "Caviar Dreams";
  background-color: rgb(243, 243, 243);
  padding: 35px;
}
table {
  font-size: 13.5px;
}

.table th {
  padding-bottom: 10px;
  height: 40px;
}

/* CSS Form Tambah Data */
.form-tambah {
  margin-top: 110px;
  font-family: "Caviar Dreams";
}
.form-tambah h2 {
  font-family: "Caviar Dreams Bold";
}
.kotak {
  background-color: rgb(243, 243, 243);
  width: fit-content;
  margin: auto;
  padding: 28px;
}
.kotak label {
  font-family: "Caviar Dreams Bold";
  font-size: 14px;
  margin-bottom: 3px;
}

/* CSS Footer */
.footer {
  background-color: blueviolet;
  color: white;
  height: 50px;
  font-family: "Caviar Dreams";
  padding-top: 4px;
}
.footer p {
  margin-top: 10px;
}
